*{
    margin: 0;
    padding: 0;
}
.weapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background-color: rgb(50, 50, 50);
    
}
.cube{
    height: 300px;
    width: 300px;
    position: relative;
    transform-style: preserve-3d;
    animation: cube 6s linear infinite;

}
@keyframes cube{
    0%{
        transform: rotateX(-20deg) rotateY(0deg);
    }
    100%{
        transform:rotateX(-20deg) rotateY(350deg);
    }
    
}
.bx-top{
    position: absolute;
    left: 0;
    top: 0;
    height: 300px;
    width: 300px;
    background: #000;
    transform: rotateX(90deg) translateZ(150px);

}
.bx-footer{
    position: absolute;
    left: 0;
    top: 0;
    height: 300px;
    width: 300px;
    background: #6701b0;
    transform: rotateX(90deg) translateZ(-300px);
    filter:blur(25px);    

    
}
.bx-light{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
}
.bx-light span{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px) ;
    background: linear-gradient(#000, #6701b0);
}